{% extends 'base.html' %}

{% block title %}Видалити тренера{% endblock %}

{% block content %}
<div class="container my-5">
    <h1 class="text-center text-danger mb-4 display-6">Видалити тренера?</h1>
    <p class="text-center fs-5">
        Ви впевнені, що бажаєте видалити тренера <strong>"{{ trainer.username }}"</strong>?<br>
        Роль буде змінено на "учасник".
    </p>
    <div class="text-center">
        <form method="post" class="d-inline-block">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger px-4">Видалити</button>
        </form>
        <a href="{% url 'trainer_list' %}" class="btn btn-secondary px-4 ms-2">Скасування</a>
    </div>
</div>
{% endblock %}
